@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Subrayado animado */
.underline-animation {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.underline-animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #ffffff; /* Color del subrayado */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.underline-animation:hover::after {
  width: 100%;
  left: 0;
}
